@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container-home{
  padding-top: 6rem;
}


.container-home .container-context{
  margin: 2rem;
}

.container-home .container-context .text{
  display: flex;
  justify-content: space-between;
}

.container-home .container-context .text h2{
  text-transform: uppercase;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.container-home .container-context .text .buttons{
  display: flex;
  align-items: center;
}

.container-home .container-context .text .buttons span{
  background-color: rgb(59, 59, 59);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  align-items: center;
  transition: 300ms all ease;
  cursor: pointer;
}

.container-home .container-context .text .buttons span:hover{
  background-color: #5A189A;
}

.container-home .container-context .image{
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
}

.container-home .container-context .image .movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
}

.container-home .container-context .image .movie-card .details{
  justify-content: center;
  text-align: center;
}

.container-home .container-context .image .movie-card img{
  width: 100%;
  border-radius: 1rem;
  transition: 300ms all ease;
} 

.container-home .container-context .image .movie-card img:hover{
  border: 5px solid #5A189A;
}

.container-home .container-context .image .movie-card h2{
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

@media(max-width: 600px){

  .container-home .container-context .text h2{
    font-size:1.2rem ;
  }
}