@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
  scroll-behavior: smooth;
}

.container{
  padding-top: 5rem;
}

.container .title {
  color: #FFF;
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
}

.container .movies-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}


.container .movies-container 
div {
  width: 25%;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  align-items: center;
  align-items: stretch;
  font-family: 'Roboto';
}

.container .movies-container div 
img {
  max-width: 100%;
  border-radius: 10%;
  margin-top: 1rem;
  transition: 300ms all ease;
}

.container .movies-container div 
img:hover{
  border:5px solid #5A1899;
}

.container .movies-container div 
h2 {
  text-align: center;
  font-size: 1.125rem;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 1rem;
  display: -webkit-box;
  text-overflow: ellipsis;
}



.container .pagination{
  display: flex;
  justify-content: space-around;
  font-family: 'Source Sans 3', sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container .pagination .page{
  font-weight: 400;
  display: flex;
  align-items: center;
  background-color: #3B3B3B;
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 16px;
  transition: 300ms all ease;
}

.container .pagination p{
  font-weight: 400;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.3rem;
}

.container .pagination 
.page:hover{
  background-color: #5A1899;
}

.container .pagination 
.not-page{
  color: rgb(138, 138, 138);
}

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  display: inline-flex;
  padding: 0.35rem;
  font-size: 1.25rem;
  background-color: #FFF;
  color: #3B3B3B;
  z-index: 10;
}

@media (max-width:1200px){

  .container .title{
    font-size: 2rem;
  }

  .container .movies-container{
    justify-content: center;
  }

  .container .movies-container 
  div{
    justify-content: center;
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container .movies-container div h2{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px){

  .container.movies-container{
    justify-content: center;
  }

  .container .movies-container 
  div{
    width: 80%;
  }
}



