@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Source+Sans+3:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container{
  padding-top: 5rem;
}

.container .title {
  color: #FFF;
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
}

.movies-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}



.movies-container div {
  width: 25%;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  align-items: center;
  align-items: stretch;
  font-family: 'Roboto';
}

.movies-container div img {
  max-width: 100%;
  border-radius: 10%;
  margin-top: 1rem;
  transition: 300ms all ease;
}

.movies-container div img:hover{
  border:5px solid #5A1899;
}

.movies-container div h2 {
  text-align: center;
  font-size: 1.125rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 1rem;
  display: -webkit-box;
  text-overflow: ellipsis;
}



.pagination{
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pagination .page{
  display: flex;
  align-items: center;
  background-color: #3B3B3B;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 16px;
  transition: 300ms all ease;
}

.pagination .active{
  cursor: default;
}


.pagination .page:hover{
  background-color: #5A1899;
}

@media (max-width:1200px){
  .movies-container div{
    width: 40%;
  }
}

@media (max-width: 600px){

  .movies-container{
    justify-content: center;
  }

  .movies-container div{
    width: 80%;
  }
}



