header{
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(20, 20, 20, 0.75);
  padding: 15px 2%;
  z-index: 1000;
  transition: all ease .35s ease;
}

header .hamburguer {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

header .hamburguer .hamburguer-line {
  width: 100%;
  font-size: 24px;
  height: 20px;
  color: #fff;
  margin: 6px 0;
  transition: all 0.3s ease;
}

header .hamburguer .hamburguer.active .hamburguer-line {
  background-color: #fff;
}


header #navbar {
  display: flex;
} 

 header #navbar h2 a{
  margin: 10px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1px 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 300ms all ease;
}

header #navbar h2 a:hover{
  border-bottom: 5px solid #5A1899;
}

 header #navbar a.active{
  border-bottom: 5px solid #5A1899 ;
}


header form{
  display: flex;
  gap: .5rem;
}

header form input {
  padding: 0.6rem 3rem;
  border: none;
  background-color: rgb(59, 59, 59);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
              rgba(0, 0, 0, 0.24) 0px 1px 2px;
  opacity: 0.75;
  font-size: 1.125rem;
  border-radius: 1rem;
  color: aliceblue;
  text-align: center;
  transition: 300ms all ease;
}

header form input:hover{
  box-shadow: none;
  border:5px solid #5A1899;
}




@media (max-width: 1024px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #141414;
    padding: 1rem;
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    transition: all .40s ease;
  }

  #navbar.show {
    top: 100%;
  }

  header .hamburguer {
    display: block;
  }

  #navbar h2 a{
    padding: 15px 20px;
  }

  header form input{
    width: 100%;
  }
}

@media(max-width: 450px){
  header form input{
    padding: .6rem 2rem;
  }
}







