@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family:Source-Sans-Pro ;
  src: url(../../fonts/source-sans-pro.bold.ttf);
}

.container-movie-details{
  position: relative;
  padding: 0px 5rem 5rem;
}

.card-info{
  position:relative;
  display: flex;
}

.poster{
  position:absolute;
  width: 100%;
  height:50%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: min(56.25%, 30rem);
  background-color: red;
  /* padding: 0px 50px 50px!important; */

}

.poster img{
  background-color: red;
  /* padding: 0px 20px 50px; */
  position:relative;
  /* width: 100%; */
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  /* padding: 50px; */
}







.container-movie{
  margin-top: 400px;
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: #3B3B3B;
  display: flex;
  border-radius: 16px;
}


.container-movie div img{
  width: 250px ;
  border-radius: 16px;
}


.content-info{
  padding-top: 1rem;
  padding-left: 2rem;
}

.content-info h1{
  text-transform: uppercase;
  font-family: "Source-Sans-Pro", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
}

.content-info ul{
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.content-info ul li:first-child{
  list-style: none;
  justify-items: flex-start;
}

.content-info ul li{
  margin-right: 1.8rem;
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resume{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.tags{
  margin-top: 2rem;
}

.tags span{
  margin-right: 1rem;
  background-color: #D8D8D8;
  padding: 0.25em 0.75em;
  border-radius: 1rem;
  color :#141414;
  border: 1px solid #d8d8d8;
}





.container-movies{
  padding-top: 1rem;
}

.container-movies .text{
  display: flex;
  justify-content: space-between;
}

.container-movies .text h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.8rem;
  font-family: "Source-Sans-Pro", sans-serif;
}

.container-movies .text .buttons{
  display: flex;
  align-items: center;
}

.container-movies .text .buttons span{
  padding: 0.25rem 0.75rem;
  background-color: rgb(59, 59, 59);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
  transition: 300ms all ease;
  cursor: pointer;
}

.container-movies .text .buttons span:hover{
  background-color: #5A189A;
}

