@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family:Source-Sans-Pro ;
  src: url(../../fonts/source-sans-pro.bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.container-movie-details{
  position: relative;
  padding: 0px 5rem 5rem;
}


.container-movie-details
.poster{
  position:absolute;
  width: 95%;
  height:auto;
  left: 50%;
  top: 0;
  z-index: -1;
  overflow: hidden;
  transform: translateX(-50%);

}

.container-movie-details .poster 
.poster-image{
  position:relative;
  width: 100%;
  height: 10%;
  object-fit: cover;
  border-radius: 20px;
}


.container-movie-details 
.card-info{
  position:relative;
  display: flex;
  justify-content: center;
}






.container-movie-details .card-info
.container-movie{
  margin-top: 400px;
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: #3B3B3B;
  display: flex;
  border-radius: 16px;
}



.container-movie-details .card-info
.container-movie .movie-poster 
img{
  width: 250px ;
  border-radius: 16px;
}


.container-movie-details .card-info
.content-info{
  padding-top: 1rem;
  padding-left: 2rem;
}


.container-movie-details .card-info
.content-info .title
h1{
  text-transform: uppercase;
  font-family: "Source-Sans-Pro", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
}

.container-movie-details .card-info .container-movie
.content-info .info
ul{
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.container-movie-details .card-info
.content-info .info ul 
li:first-child{
  list-style: none;
  justify-items: flex-start;
}

.container-movie-details .card-info
.content-info .info ul 
li{
  margin-right: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-movie-details .card-info .container-movie
.content-info .info
.resume{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}


.container-movie-details .card-info .container-movie
.content-info .info
.tags{
  margin-top: 2rem;
}


.container-movie-details .card-info .container-movie
.content-info .info .tags 
span{
  margin-right: 1rem;
  background-color: #D8D8D8;
  padding: 0.25em 0.75em;
  border-radius: 1rem;
  color :#141414;
  border: 1px solid #d8d8d8;
}




.container-movie-details .recommended-movies 
.container-movies{
  padding-top: 1rem;
}

.container-movie-details .recommended-movies .container-movies 
.text{
  display: flex;
  justify-content: space-between;
}

.container-movie-details .recommended-movies 
.container-movies .text 
h2, 
.container-movie-details .container-movies .text 
h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.8rem;
  font-family: "Source-Sans-Pro", sans-serif;
}

.container-movie-details .recommended-movies 
.container-movies .text  
.buttons{
  display: flex;
  align-items: center;
}

.container-movie-details .recommended-movies 
.container-movies .text .buttons 
span{
  padding: 0.25rem 0.75rem;
  background-color: rgb(59, 59, 59);
  border-radius: 1rem;
  font-size: 1.2rem;
  margin-left: 1rem;
  transition: 300ms all ease;
  cursor: pointer;
}

.container-movie-details .recommended-movies 
.container-movies .text .buttons 
span:hover{
  background-color: #5A189A;
}







@media (max-width: 1200px) {
  .container-movie-details .card-info
  .container-movie{
    flex-direction: column;
    align-items: center;
    
  }

  .container-movie-details .card-info
  .content-info{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .container-movie-details .card-info
  .content-info .title
  h1{
    padding: 0;
    margin-right: 0;
    font-size: 1.8rem;
  }

  .container-movie-details .card-info .content-info 
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container-movie-details .card-info
  .content-info .info 
  ul{
    justify-content: center;
  }

  .container-movie-details .card-info
  .content-info .info ul 
  li, .resume{
    font-size: 1rem;
  }

  .container-movie-details .card-info .container-movie
  .content-info .info
  .resume{
    text-align: left;
    margin-top:1rem ;
  }
}


@media(max-width:769px){


  .container-movie-details{
    padding: 20px ;
  }


  .container-movie-details .card-info
  .container-movie{
    margin-top: 150px;
  }


  .container-movie-details .recommended-movies 
  .container-movies .text h2,
  .container-movie-details
  .container-movies .text h2 {
    font-size: 2rem;
  }



  .image img{
    min-width: 100px;
  }

  .tags{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .container-movie-details .card-info .container-movie
  .content-info .info .tags 
  span{
    margin-top: 10px;
  }

}






.image {
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
}

.image .movie-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
}

.image .movie-card .details{
  justify-content: center;
  text-align: center;
}

.image .movie-card img{
  width: 100%;
  border-radius: 1rem;
  transition: 300ms all ease;
}