@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family:Source-Sans-Pro ;
  src: url(../../fonts/source-sans-pro.bold.ttf);
}

.container-movie-cast{
  margin: 3rem;
  padding-top: 3rem;
}

.container-movie-cast p{
  font-size: 1rem;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.container-movie-cast h2{
  text-transform: uppercase;
  font-family: "Source-Sans-Pro", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 1rem;
}

.container-movie-cast .crew-list{
  margin-top: 1.5rem;
}

.container-movie-cast .crew-list h3{
  font-family: "Source-Sans-Pro", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.container-movie-cast .crew-list .movie-card .details dl{
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 0px 2rem;
}

.container-movie-cast .crew-list .movie-card .details dl dt,
.container-movie-cast .crew-list .movie-card .details dl dd{
  margin-top: 0.2rem;
}



.container-movie-cast .cast-list{
  margin-top: 2rem;;
}

.container-movie-cast .cast-list h3{
  font-family: "Source-Sans-Pro", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}


.container-movie-cast .cast-list div{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
}

.container-movie-cast .cast-list div .movie-card{
  display: flex;
}

.container-movie-cast .cast-list div img{
  border-radius: 1rem;
  background: #b1b1b1;
  width: auto;
}  

.container-movie-cast .cast-list div .movie-card div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

.container-movie-cast .cast-list div .movie-card div p{
  text-decoration: none;
  margin-top: 0.5rem;
}

.container-movie-cast .cast-list div .movie-card div p:nth-child(2){
  color: #b1b1b1;
  font-weight: 400;
}


.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  display: inline-flex;
  padding: 0.35rem;
  font-size: 1.25rem;
  background-color: #FFF;
  color: #3B3B3B;
  z-index: 10;
}


@media(max-width:1200px){
  .container-movie-cast{
    margin: 0.5rem;
    padding-top: 4rem;
  }

  .container-movie-cast h2{
    font-size: 1.953rem;
  }

  .container-movie-cast .crew-list{
    margin-top: 0.5rem;
  }

  .container-movie-cast .crew-list h3{
    font-size: 1.25rem
  }

  .container-movie-cast .crew-list .movie-card .details dl{
    margin-top: 10px;
  }
 
}